<% content_for :head do %>
  <%= stylesheet_link_tag "maps", 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "contact", 'data-turbolinks-track' => true %>
  <title>Sites | GTour</title>
<% end %>


<div class="row row-offcanvas row-offcanvas-left" > 
<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li><button id = "slide" data-toggle="offcanvas" class="visible-xs text-center btn"><i class="glyphicon glyphicon-chevron-right"></i></button></li>
    </ul>
    <ul class="nav hidden-xs sidemenu" id="lg-menu">
        <li class="sidebar-title"><h4>Sites of Interest</h4></li>
        <li><a  data-filter='1' ><i class="glyphicon"><img src="/assets/icons/park-24.svg"/></i> Parks</a></li>
        <% @parks.each  do |park| %>
          <li><%= link_to park ,class: "sub"  do %>
              <%= park.title %>
            <% end %>
          </li>
        <% end %>
        <li><a  data-filter='2' ><i class="glyphicon"><img src="/assets/icons/place-of-worship-24.svg"/></i> Churchs</a></li>
        <% @churchs.each  do |church| %>
          <li><%= link_to church, class: "sub"  do %>
              <%= church.title %>
            <% end %>
          </li>
        <% end %>
        <li><a  data-filter='3' ><i class="glyphicon"><img src="/assets/icons/museum-24.svg"/></i> Museums</a></li>
        <% @museums.each  do |museum| %>
          <li><%= link_to museum, class: "sub" do %>
              <%= museum.title %>
            <% end %>
          </li>
        <% end %>
        
    </ul>
      <!-- tiny only nav-->
    <ul class="nav visible-xs sidemenu" id="xs-menu">
        <li><a  data-filter='1' ><i class="glyphicon"><img src="/assets/icons/park-24.svg"/></i></a></li>
        <li><a  data-filter='2' ><i class="glyphicon"><img src="/assets/icons/place-of-worship-24.svg"/></i></a></li>
        <li><a  data-filter='3' ><i class="glyphicon"><img src="/assets/icons/museum-24.svg"/></i></a></li>
        <li><a  data-filter='4'><i class="glyphicon"><img src="/assets/icons/building-24.svg"/></i></a></li>
        <li><a  data-filter='5'><i class="glyphicon"><img src="/assets/icons/restaurant-24.svg"/></i></a></li>
        <li><a  data-filter='6'><i class="glyphicon"><img src="/assets/icons/shop-24.svg"/></i></a></li>
      </ul>
  </div>

    <div class="column col-sm-10 col-xs-11" >
    <div class="container">
    <h1>Sites</h1>
  <div id="pins">
  <% @sites.each do |site| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(site.image.url(:medium)), site %>
      <div class="panel-body">
        <%= site.title %>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  <% end %>
</div>
</div>

</div>
</div>
