<% content_for :head do %>
  <%= stylesheet_link_tag "maps", 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "contact", 'data-turbolinks-track' => true %>
  <title>Sites | GTour</title>
<% end %>

<div class="row row-offcanvas row-offcanvas-left" > 
<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li><button id = "slide" data-toggle="offcanvas" class="visible-xs text-center btn"><i class="glyphicon glyphicon-chevron-right"></i></button></li>
    </ul>
    <ul class="nav hidden-xs sidemenu" id="lg-menu">
        <li class="sidebar-title"><h4>Sites of Interest</h4></li>
        <li><a  data-filter='1' ><i class="glyphicon"><img src="/assets/icons/park-24.svg"/></i> Parks</a></li>
        <% @parks.each  do |park| %>
        	<li><%= link_to park,class: "sub" do %>
        			 <%= park.title %>
        		<% end %>
        	</li>
        <% end %>
        <li><a  data-filter='2' ><i class="glyphicon"><img src="/assets/icons/place-of-worship-24.svg"/></i> Churchs</a></li>
        <% @churchs.each  do |church| %>
        	<li><%= link_to church,class: "sub" do %>
        			 <%= church.title %>
        		<% end %>
        	</li>
        <% end %>
        <li><a  data-filter='3' ><i class="glyphicon"><img src="/assets/icons/museum-24.svg"/></i> Museums</a></li>
        <% @museums.each  do |museum| %>
        	<li><%= link_to museum,class: "sub" do %>
        			 <%= museum.title %>
        		<% end %>
        	</li>
        <% end %>
        
    </ul>
      <!-- tiny only nav-->
    <ul class="nav visible-xs sidemenu" id="xs-menu">
        <li><a  data-filter='1' ><i class="glyphicon"><img src="/assets/icons/park-24.svg"/></i></a></li>
        <li><a  data-filter='2' ><i class="glyphicon"><img src="/assets/icons/place-of-worship-24.svg"/></i></a></li>
        <li><a  data-filter='3' ><i class="glyphicon"><img src="/assets/icons/museum-24.svg"/></i></a></li>
        <li><a  data-filter='4'><i class="glyphicon"><img src="/assets/icons/building-24.svg"/></i></a></li>
        <li><a  data-filter='5'><i class="glyphicon"><img src="/assets/icons/restaurant-24.svg"/></i></a></li>
        <li><a  data-filter='6'><i class="glyphicon"><img src="/assets/icons/shop-24.svg"/></i></a></li>
      </ul>
  </div>

    <div class="column col-sm-10 col-xs-11" ß>
<p id="notice"><%= notice %></p>


	<div class="jumbotron">

	  <h2><%= @site.title %></h2>
	  <hr />
	  <p>
  <%= @site.body %>
</p>

  		 <%= image_tag @site.image.url(:medium), class: "img-rounded" %>
  		 
</div>

<div id="disqus_thread"></div>

</div>
</div>

<script>

/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '<%=  @site.title %>'; // Required - Replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

L.mapbox.accessToken = 'pk.eyJ1IjoiYWd1c3RpbjNhIiwiYSI6Ik5EU3FnSW8ifQ.c97mqtOcNcKft2TwV-tnEQ';
var map = L.mapbox.map('map', 'agustin3a.88bf40a9')
    .setView([14.56, -90.733], 15);

    var layers = {
      Streets: L.mapbox.tileLayer('examples.map-i87786ca'),
      Outdoors: L.mapbox.tileLayer('examples.ik7djhcc'),
      Satellite: L.mapbox.tileLayer('examples.map-igb471ik')
  };

layers.Streets.addTo(map);
L.control.layers(layers).addTo(map);
var markers;

</script>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>